@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* line 4, ../scss/home.scss */
header {
  position: sticky;
  background-color: #ebfbff;
  top: 0;
}
/* line 9, ../scss/home.scss */
header .container {
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 770px) {
  /* line 13, ../scss/home.scss */
  header .container .logo img {
    max-width: 150px;
  }
}
/* line 19, ../scss/home.scss */
header .container button {
  background-color: #fff;
  width: 100%;
  max-width: 250px;
}
/* line 24, ../scss/home.scss */
header .container button span {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-weight: 600;
  transition: 0.5s;
}
/* line 30, ../scss/home.scss */
header .container button:hover span {
  color: #808d99;
}
@media screen and (max-width: 770px) {
  /* line 19, ../scss/home.scss */
  header .container button {
    max-width: 120px;
    padding: 5px 15px;
  }
  /* line 39, ../scss/home.scss */
  header .container button span {
    font-size: 13px;
  }
}

/* line 48, ../scss/home.scss */
main .main-content {
  background-color: #ebfbff;
}
/* line 51, ../scss/home.scss */
main .main-content .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
/* line 54, ../scss/home.scss */
main .main-content .container .left-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* line 57, ../scss/home.scss */
main .main-content .container .left-content .title {
  width: 100%;
  max-width: 500px;
}
/* line 61, ../scss/home.scss */
main .main-content .container .left-content .title h1 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-weight: 600;
  font-size: 40px;
}
@media screen and (max-width: 770px) {
  /* line 61, ../scss/home.scss */
  main .main-content .container .left-content .title h1 {
    font-size: 28px;
  }
}
/* line 70, ../scss/home.scss */
main .main-content .container .left-content p {
  color: #00252e;
  font-weight: 400;
  width: 100%;
  max-width: 650px;
}
/* line 76, ../scss/home.scss */
main .main-content .container .left-content button {
  background-color: #ff52bf;
  width: 100%;
  max-width: 300px;
}
/* line 81, ../scss/home.scss */
main .main-content .container .left-content button span {
  color: #fff;
  font-weight: 700;
}
/* line 85, ../scss/home.scss */
main .main-content .container .left-content button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 770px) {
  /* line 76, ../scss/home.scss */
  main .main-content .container .left-content button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 770px) {
  /* line 96, ../scss/home.scss */
  main .main-content .container .left-content .title h1,
  main .main-content .container .left-content p {
    text-align: center;
  }
}
@media screen and (max-width: 770px) {
  /* line 51, ../scss/home.scss */
  main .main-content .container {
    flex-direction: column;
  }
}
/* line 109, ../scss/home.scss */
main .secao-01,
main .secao-02,
main .secao-03 {
  margin: 100px 0;
}
/* line 114, ../scss/home.scss */
main .secao-01 .main-container,
main .secao-02 .main-container,
main .secao-03 .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* line 120, ../scss/home.scss */
main .secao-01 .main-container .left-content .title h2,
main .secao-01 .main-container .right-content .title h2,
main .secao-02 .main-container .left-content .title h2,
main .secao-02 .main-container .right-content .title h2,
main .secao-03 .main-container .left-content .title h2,
main .secao-03 .main-container .right-content .title h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}
/* line 125, ../scss/home.scss */
main .secao-01 .main-container .left-content p,
main .secao-01 .main-container .right-content p,
main .secao-02 .main-container .left-content p,
main .secao-02 .main-container .right-content p,
main .secao-03 .main-container .left-content p,
main .secao-03 .main-container .right-content p {
  color: #808d99;
  font-weight: 400;
  width: 100%;
  max-width: 500px;
}
@media screen and (max-width: 770px) {
  /* line 133, ../scss/home.scss */
  main .secao-01 .main-container .left-content .title h2,
  main .secao-01 .main-container .left-content p,
  main .secao-01 .main-container .right-content .title h2,
  main .secao-01 .main-container .right-content p,
  main .secao-02 .main-container .left-content .title h2,
  main .secao-02 .main-container .left-content p,
  main .secao-02 .main-container .right-content .title h2,
  main .secao-02 .main-container .right-content p,
  main .secao-03 .main-container .left-content .title h2,
  main .secao-03 .main-container .left-content p,
  main .secao-03 .main-container .right-content .title h2,
  main .secao-03 .main-container .right-content p {
    text-align: center;
  }
}
/* line 142, ../scss/home.scss */
main .secao-01 .main-container .right-content img,
main .secao-01 .main-container .left-content img,
main .secao-02 .main-container .right-content img,
main .secao-02 .main-container .left-content img,
main .secao-03 .main-container .right-content img,
main .secao-03 .main-container .left-content img {
  width: 100%;
  max-width: 500px;
}
@media screen and (max-width: 770px) {
  /* line 114, ../scss/home.scss */
  main .secao-01 .main-container,
  main .secao-02 .main-container,
  main .secao-03 .main-container {
    flex-direction: column-reverse;
    padding: 30px;
    gap: 30px;
  }
}
@media screen and (max-width: 770px) {
  /* line 109, ../scss/home.scss */
  main .secao-01,
  main .secao-02,
  main .secao-03 {
    padding: 0 15px;
  }
}
@media screen and (max-width: 770px) {
  /* line 161, ../scss/home.scss */
  main .secao-02 .main-container {
    flex-direction: column;
  }
}
/* line 168, ../scss/home.scss */
main .secao-03 {
  margin-bottom: 200px;
}
/* line 172, ../scss/home.scss */
main .secao-04 {
  position: relative;
}
/* line 175, ../scss/home.scss */
main .secao-04 .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* line 186, ../scss/home.scss */
main .secao-04 .container .title h3 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-weight: 600;
  font-size: 30px;
}
/* line 190, ../scss/home.scss */
main .secao-04 .container button {
  background-color: #ff52bf;
  width: 100%;
  max-width: 400px;
}
/* line 195, ../scss/home.scss */
main .secao-04 .container button span {
  color: #fff;
  font-weight: 700;
}
/* line 199, ../scss/home.scss */
main .secao-04 .container button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 770px) {
  /* line 190, ../scss/home.scss */
  main .secao-04 .container button {
    max-width: 200px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 208, ../scss/home.scss */
  main .secao-04 .container button span {
    font-size: 13px;
  }
}
@media screen and (max-width: 770px) {
  /* line 175, ../scss/home.scss */
  main .secao-04 .container {
    width: 90%;
    top: -150px;
    padding: 50px 30px;
  }
}

/* line 223, ../scss/home.scss */
footer {
  background-color: #00252e;
}
/* line 226, ../scss/home.scss */
footer .container {
  padding: 200px 30px;
}
@media screen and (max-width: 770px) {
  /* line 226, ../scss/home.scss */
  footer .container {
    padding: 120px 30px;
  }
}
/* line 234, ../scss/home.scss */
footer .logo {
  margin-bottom: 30px;
}
/* line 238, ../scss/home.scss */
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
/* line 241, ../scss/home.scss */
footer .footer-content .footer-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 500px;
}
/* line 246, ../scss/home.scss */
footer .footer-content .footer-info .item:first-child {
  align-items: flex-start;
}
/* line 249, ../scss/home.scss */
footer .footer-content .footer-info .item:first-child img {
  margin-top: 5px;
}
/* line 254, ../scss/home.scss */
footer .footer-content .footer-info .item {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* line 257, ../scss/home.scss */
footer .footer-content .footer-info .item p {
  color: #fff;
  font-weight: 400;
}
/* line 263, ../scss/home.scss */
footer .footer-content .footer-about {
  display: flex;
  gap: 50px;
}
/* line 266, ../scss/home.scss */
footer .footer-content .footer-about ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* line 269, ../scss/home.scss */
footer .footer-content .footer-about ul li {
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
/* line 273, ../scss/home.scss */
footer .footer-content .footer-about ul li:hover {
  text-decoration: underline;
}
@media screen and (max-width: 770px) {
  /* line 266, ../scss/home.scss */
  footer .footer-content .footer-about ul {
    gap: 15px;
  }
}
@media screen and (max-width: 770px) {
  /* line 263, ../scss/home.scss */
  footer .footer-content .footer-about {
    flex-direction: column;
    gap: 15px;
  }
}
/* line 289, ../scss/home.scss */
footer .footer-content .sociais {
  display: flex;
  gap: 30px;
}
/* line 292, ../scss/home.scss */
footer .footer-content .sociais li {
  cursor: pointer;
}
/* line 296, ../scss/home.scss */
footer .footer-content .sociais li:hover svg {
  fill: #ff52bf;
  transition: 0.5s;
}
@media screen and (max-width: 770px) {
  /* line 289, ../scss/home.scss */
  footer .footer-content .sociais {
    justify-content: center;
  }
}
@media screen and (max-width: 770px) {
  /* line 238, ../scss/home.scss */
  footer .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}
/* line 314, ../scss/home.scss */
footer .copyright {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
/* line 318, ../scss/home.scss */
footer .copyright p {
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 770px) {
  /* line 314, ../scss/home.scss */
  footer .copyright {
    justify-content: center;
  }
  /* line 325, ../scss/home.scss */
  footer .copyright p {
    font-size: 15px;
  }
}
